<div class="login-page">
  <form class="form" [formGroup]="form">
    
    <div class="form__login">
      <mat-form-field class="form__login-field" appearance="fill">
        <mat-label>login</mat-label>
        <input matInput formControlName="login">
      </mat-form-field>
    </div>
  
    <div class="form__password">
      <mat-form-field class="form__password-field" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
    <div class="form__buttons">
      <button class="registration-btn" mat-raised-button color="primary" type="button">Registration</button>
      <button class="login-btn" mat-raised-button color="primary" type="submit" (click)="submit()">Login</button>
    </div>
  </form>
</div>
